# PART 2

Installing required libraries

In [5]:
import pandas as pd

Get the geospatial coordiates (longitude and latitude) data from the website, and create a dataframe

In [6]:
url = 'https://cocl.us/Geospatial_data'
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
df2 = pd.read_csv('Capstone_1.csv')
df2.head()

   Unnamed: 0 Postal Code      Borough                           Neighbourhood
0           0         M1B  Scarborough                          Malvern, Rouge
1           1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2         M1E  Scarborough       Guildwood, Morningside, West Hill
3           3         M1G  Scarborough                                  Woburn
4           4         M1H  Scarborough                               Cedarbrae

In [8]:
df3 = pd.merge(df2, df_geo)
df3.head()

,Unnamed: 0,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Number of rows of dataframe

In [9]:
df3.shape

(103, 6)

Save as capstone 2 for later use

In [10]:
df3.to_csv('Capstone_2.csv', index=False)
print('Saved')

Saved